@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Roboto+Slab&display=swap');
/* By Dominik Biedebach @domobch */

body {
    font-family:'Bentham', serif;
    background-color: #FFD6BA;
    padding: 0;
    margin: 0;
  }
  
  small {
    font-size: calc(8px + 2vmin);
    color: #565656;
}

  .center {
    text-align: center;
  }
  
  /* NAVIGATION */
  nav {
    background: #FFD6BA;;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    padding-bottom: 2px;
    text-decoration: none;
    color: #565656;
    font-weight: 400;
    text-transform: lowercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #565656;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #565656;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  /* By Dominik Biedebach @domobch */
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #023f1c;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
